* {
    padding: 0;
    margin: 0;
}

/* header style */

header {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #98EECC;
    border: solid;
}



header nav {
    position: absolute;
    right: 10px;
    top: 13px;
}

header nav a {
    text-decoration: none;
    border: solid black;
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* main style */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


main div {
    margin: 40px;
    border: solid;
    height: fit-content;
    text-align: center;
    width: 100%;
}



img {
    width: 238px;
}

main div div {
    display: block;
    width: max-content;

    margin: 10px;
    padding: 8px;
    border: solid red;
    background-color: #98EECC;
}

.department-title {
    background-color: black;
    color: white;
    width: auto;
    height: auto;
}





/* footer style */

footer div {
    display: flex;
    background-color: #98EECC;
    border: solid;
    height: 50px;
    bottom: auto;
    width: 100%;
}

footer div copyright {

    padding: 5px;
    margin: 5px;

}


footer nav a {
    text-decoration: none;
    border: solid black;
    border-radius: 10px;
    padding: 3px;
    background-color: black;
    color: white;
}

footer nav {
    position: absolute;
    right: 30px;
    bottom: -220px;
}