* {
    padding: 0;
    margin: 0;
}

/* header style */

header {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #6adf68;
    border: solid;
}



header nav {
    position: absolute;
    right: 10px;
    top: 13px;
}

header nav a {
    text-decoration: none;
    border: solid black;
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* main style */
/* main div {
    margin: 20px;
    border: solid;
    width: fit-content;
}

main div div {
    display: block;
    width: max-content;
    margin: 10px;
    padding: 8px;
    border: solid;
} */





/* footer style */
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer div {
    display: flex;
    background-color: #6adf68;
    border: solid;
    height: 50px;
    bottom: auto;
}

footer div copyright {
    padding: 5px;
    margin: 5px;
}

footer nav {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

footer nav a {
    text-decoration: none;
    border: solid black;
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(0, 0, 0);
    color: white;
}